<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xhg.mapper.OrderMapper" >

	<resultMap id="OrderResultMap" type="com.xhg.pojo.Order">
		<id column="order_id" property="orderId"/>
		<result column="user_id" property="userId"/>
		<result column="order_describe" property="orderDescribe"/>
		<result column="order_updateTime" property="orderUpdateTime"/>
	</resultMap>

	<sql id="orderColumn">
    	order_id, user_id, order_describe,order_updateTime
	</sql>

	<insert id="createOrder" parameterType="com.xhg.pojo.Order">
   			insert into userOrder (
   			user_id, order_describe, order_updateTime
   			)
   			 values
   			 (#{userId},#{orderDescribe},#{orderUpdateTime})
   	</insert>

	<select id="selectOrder" resultMap="OrderResultMap">
		select <include refid="orderColumn"/> from userOrder
	</select>

	<insert id="addlog" parameterType="map" statementType="CALLABLE">

		{call adduserFun(#{username,mode=IN}, #{pwd,mode=IN}, #{mobile,mode=IN})}

	</insert>

</mapper>