<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xhg.mapper.SysUserMapper" >

	<resultMap id="UserResultMap" type="com.xhg.pojo.sysUser">
                <id column="id" property="id"/>
                <result column="username" property="username"/>
                <result column="pwd" property="pwd"/>
                <result column="mobile" property="mobile"/>
                <result column="birthday" property="birthday"/>
                <result column="address" property="address"/>
				<result column="integral" property="integral"/>
   	</resultMap>

	<resultMap id="UserRole" type="com.xhg.pojo.sysUser" extends="UserResultMap">
		<collection property="roleList"  ofType="com.xhg.pojo.Role"
					select="selectUserRole" column="{userId=id}">

		</collection>
	</resultMap>

	<select id="selectUserRole" resultType="com.xhg.pojo.Role">

		select role.* from sys_user_role join sys_role role on sys_user_role.roleId = role.id where sys_user_role.userId = #{userId}

	</select>

   	<select id="selectUserById"  resultMap="UserRole">
   		select * from sys_user where id = #{id}
   	</select>

   	<select id="findAll"  resultMap="UserResultMap">
   		select * from sys_user
   	</select>

	<select id="getUserInfo"  resultMap="UserResultMap">
   		select * from sys_user where id = #{userId}
   	</select>

   	<insert id="addUser" parameterType="com.xhg.pojo.sysUser">
   			insert into sys_user (
   			username,pwd,mobile,birthday,address
   			)
   			 values
   			 (#{username},#{pwd},#{mobile},#{birthday},#{address})
   	</insert>

	<update id="incrUserIntegral" parameterType="integer">
		update sys_user set integral = integral + 1  where id = #{userId}
	</update>

	<update id="updateName" parameterType="map">
		update sys_user set username = CONCAT(#{name}, username)  where id = #{id}
	</update>
</mapper>